<h1>404 Error Page</h1>
<p class="zoom-area">This is not the place you are looking for! </p>
<div class="link-container">
  <button routerLink="/" routerLinkActive="active" class="btn slam-btn fwhite">Go Home</button>
</div>

<div class="text-center slam-footer">
  © 2018 Copyright:
  <a href="http://www.slambook.ml/">
    <strong> slambook.ml</strong>
  </a>
  <div>
    PoweredBy
    <a href="https://www.youtube.com/channel/UCuft1InkD50d1cZJsP4QS-w/videos">
      <strong> evenstronger </strong>
    </a>
  </div>
  <div>
    <span style="color:white">Like .</span>
    <a target="_blank" href="https://www.facebook.com/iamevenstronger/">
      <i class="fa fa-facebook-f" style="padding:  10px;color: #007eff;font-size:  15pt;cursor: pointer;"> Facebook</i>
    </a>
    | &nbsp;
    <span style="color:white">Follow .</span>
    <a target="_blank" href="https://www.instagram.com/iam_evenstronger/">
      <i class="fa fa-instagram" style="padding:  10px;color: #cc00ff;font-size:  15pt;cursor: pointer;"> Instagram</i>
    </a>
    | &nbsp;
    <span style="color:white">Subscribe .</span>
    <a target="_blank" href="https://www.youtube.com/channel/UCuft1InkD50d1cZJsP4QS-w/videos">
      <i class="fa fa-youtube" style="padding:  10px;color: #e60808;font-size:  15pt;cursor: pointer;"> Youtube</i>
    </a>
  </div>
</div>