<div class="jumbotron jumbotron-fluid jumbo-gradient">
  <div class="container">
    <h1 class="display-5">Make Memories</h1>
    <p class="lead">Create slampages to get your friends view about you.</p>
    <button type="button" class="btn btn slam-btn" (click)="showDialog()">create slampage</button>
  </div>
</div>

<p-dialog header="Account" [(visible)]="display" modal="modal" [responsive]="true" [width]="350" [minWidth]="200" [minY]="70">
  <p-tabView>
    <p-growl [(value)]="msgs" [sticky]="false" life="2000"></p-growl>
    <p-tabPanel header="SignUp">
      <div class="slam-input-panel">
        <span class="ui-float-label">
          <input [(ngModel)]="username" class="slam-input form-control" type="text" size="30" pKeyFilter="alphanum" pInputText>
          <label class="accent-text" for="float-input">Username</label>
        </span>
      </div>
      <div class="slam-input-panel">
        <span class="ui-float-label">
          <input [(ngModel)]="password" pPassword class="slam-input form-control" type="password" size="30">
          <label class="accent-text" for="float-input">Password</label>
        </span>
      </div>
      <div class="slam-input-panel">
        <span class="ui-float-label">
          <input [(ngModel)]="email" class="slam-input form-control" type="email" size="30" pInputText>
          <label class="accent-text" for="float-input">Email</label>
        </span>
      </div>
      <div class="slam-input-panel">
        <button class="btn slam-btn" (click)="signUpUser()">register</button>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Login">
      <div class="slam-input-panel">
        <span class="ui-float-label">
          <input [(ngModel)]="loginUsername" class="slam-input form-control" type="text" size="30" pKeyFilter="alphanum" pInputText>
          <label class="accent-text" for="float-input">Username</label>
        </span>
      </div>
      <div class="slam-input-panel">
        <span class="ui-float-label">
          <input [(ngModel)]="loginPassword" pInputText class="slam-input form-control" type="password" size="30">
          <label class="accent-text" for="float-input">Password</label>
        </span>
      </div>
      <div class="slam-input-panel">
        <p-checkbox [(ngModel)]="terms" binary="true"></p-checkbox>
        I have read and accept the <a class="accent-link" href="http://www.slambook.ml/termsandconditions.html">Terms and Conditions</a>
      </div>
      <div class="slam-input-panel">
        <button class="btn slam-btn" (click)="loginUser()">login</button>
      </div>
    </p-tabPanel>
  </p-tabView>
  <p-footer>
    <button type="button" class="btn" (click)="closeDialog()">close</button>
  </p-footer>
</p-dialog>





<div class="text-center slam-footer">
  © 2018 Copyright:
  <a href="http://www.slambook.ml/">
    <strong> slambook.ml</strong>
  </a>
  | <a href="http://www.slambook.ml/privacypolicy.htm">Privacy Policy</a>
  <div>
    PoweredBy
    <a href="https://www.youtube.com/channel/UCuft1InkD50d1cZJsP4QS-w/videos">
      <strong> evenstronger </strong>
    </a>
  </div>
  <div>
    <span style="color:white">Like .</span>
    <a target="_blank" href="https://www.facebook.com/iamevenstronger/">
      <i class="fa fa-facebook-f" style="padding:  10px;color: #007eff;font-size:  15pt;cursor: pointer;"> Facebook</i>
    </a>
    | &nbsp;
    <span style="color:white">Follow .</span>
    <a target="_blank" href="https://www.instagram.com/iam_evenstronger/">
      <i class="fa fa-instagram" style="padding:  10px;color: #cc00ff;font-size:  15pt;cursor: pointer;"> Instagram</i>
    </a>
    | &nbsp;
    <span style="color:white">Subscribe .</span>
    <a target="_blank" href="https://www.youtube.com/channel/UCuft1InkD50d1cZJsP4QS-w/videos">
      <i class="fa fa-youtube" style="padding:  10px;color: #e60808;font-size:  15pt;cursor: pointer;"> Youtube</i>
    </a>
  </div>
</div>