<div style="background-color:#ffffff;padding:40px;">
    <p-growl [(value)]="msgs" [sticky]="false" life="2000"></p-growl>
<h3>Add Slampage</h3>
<div class="slam-input-panel">
  <span class="ui-float-label">
    <input [(ngModel)]="slamname" class="slam-input form-control" type="text" size="30" pKeyFilter="alphanum" pInputText>
    <label class="accent-text" for="float-input">slamname</label>
  </span>
</div>
<div class="slam-input-panel">
  <label for="float-input">slamdescription</label>
  <p-editor [(ngModel)]="slamdescription" aria-placeholder="slam description" [style]="{'height':'100px'}">
    <p-header>
      <span class="ql-formats">
        <button class="ql-bold" aria-label="Bold"></button>
        <button class="ql-italic" aria-label="Italic"></button>
        <button class="ql-underline" aria-label="Underline"></button>
      </span>
    </p-header>
  </p-editor>
</div>
<div class="slam-input-panel">
  <h5>Default fields: </h5>
  <ul>
    <li>your name</li>
    <li>first meet</li>
    <li>first fight</li>
    <li>tell me about something</li>
    <li>link dedicated to me</li>
    <li>location</li>
  </ul>
</div>
<div class="slam-input-panel">
  <h5>Custom fields: </h5>
  <div>
    <input [(ngModel)]="customfield" type="text" pInputText pKeyFilter="alpha" placeholder="custom fields">
    <button class="btn slam-btn" (click)="addCustomField()">Add Field</button>
  </div>
  <div>
    <div class="cusfields" *ngFor="let field of customfields; let i = index">
      <div style="overflow-wrap: break-word;width:90%;">{{ field }} <i class="fa fa-minus-circle pull-right" style="font-size:24px" (click)="removeField(i)"></i></div>
    </div>
  </div>
</div>
<br>
  <button type="button" (click)="createSlamPage()" class="btn slam-btn">Add Slampage</button>
</div>

<div class="text-center">
  © 2018 Copyright:
  <a href="http://www.slambook.ml/">
    <strong> slambook.ml</strong>
  </a>
  <a class="accent-link" (click)="logout()">logout</a>
</div>