.slamfont {
    font-family: 'Oswald', sans-serif;
}
body {
    font-family: 'Mina', sans-serif;
    background: linear-gradient(to right,rgb(135, 74, 255),#fbabdb);
}
.jumbo-gradient {
    background: #decffd;
}
.nav-bg {
    background: linear-gradient(to right,rgb(68, 4, 193),#bf0a90);
}
.fwhite {
    color: #ffffff;
}
.accent-text {
    color: #5219ad;  
}
.bg-color {
    height: 100%;
    background: linear-gradient(to right,rgb(135, 74, 255),#fbabdb);
}
.cusfields {
    border: 1px solid #d1d1d1;
    padding: 5px;
    margin: 3px;
}
.slam-btn {
    border: 0;
    border-bottom: 2px solid #21025a;
    border-radius: 8px;
    background: linear-gradient(to right,rgb(68, 4, 193),#bf0a90);
    color: #fff;
}
.slam-btn-group {
	border: 0;
	border-bottom: 2px solid #21025a;
	border-bottom-right-radius: 8px;
	border-top-right-radius: 8px;
	background: linear-gradient(to right,rgb(68, 4, 193),#bf0a90);
	color: #fff;
 }
.slam-btn:active {
    border: 0px ;
}
.slam-input-panel {
    padding: 10px;
}
.slam-input {
    color: #280371;
    border: 0px;
    border-radius: 8px;
    height: 40px;
    outline: 0;
    background: linear-gradient(to right,rgb(205, 182, 251),#ffc3ef);
    padding: 5px;
}
.slam-input:hover {
    border: 2px solid #280371;
}

.card-panel {
    padding: 10px ;
}

.accent-link {
    cursor: pointer;
    text-decoration: underline !important;
    color: #280371 !important;
}

@media only screen and (min-width: 600px) {
    .slampage-add-card {
        margin-left: 25%;
        margin-right: 25%;
        margin-top: 1%;
    }
}

.mlf20 {
    width: 60px;
    margin-left: 20px;
    margin-top: 20px;
 }