<div class="pull-right card-panel">
  <button (click)="navigate()" class="btn slam-btn">Add new Slampage</button>
</div>

<div *ngIf="nocontent" class="jumbotron">No Slampage available. Create one!</div>
<p-growl [(value)]="msgs" [sticky]="false" life="2000"></p-growl>
<p-confirmDialog header="Delete Slampage" icon="fa fa-question-circle" width="425" #cd>
  <p-footer>
    <button type="button" class="btn slam-btn" icon="fa-close" label="No" (click)="cd.reject()">cancel</button>
    <button type="button" class="btn slam-btn" icon="fa-check" label="Yes" (click)="cd.accept()">delete</button>
  </p-footer>
</p-confirmDialog>

<div class="card-panel" style="display:inline-block;" *ngFor="let item of slamPages">
  <div class="card" style="width: 18rem;">
    <div style="padding:5px;">
      <span class="pull-left" style="padding:8px;font-size:6pt;color:#a9a7a7;font-family:'Times New Roman', Times, serif">{{item.createdat}}</span>
      <i style="padding:5px;" class="fa fa-edit pull-right" (click)="editSlam(item)" aria-hidden="true"></i>
      <i style="padding:5px;" class="fa fa-trash pull-right" (click)="confirm(item.spid,item.slamname)" aria-hidden="true"></i>
    </div>
    <div class="card-body">
      <h5 class="card-title">{{item.slamname}}</h5>
      <p class="card-text" [innerHTML]="item.slamdescription"></p>
      <p>Copy link send to your friends.</p>
      <div class="input-group">
        <input type="url" class="slam-input form-control" [(ngModel)]="item.link" readonly>
        <span class="input-group-btn">
          <button class="btn slam-btn-group " [class.btn-success]="isCopied" type="button" ngxClipboard [cbContent]="item.link" (cbOnSuccess)="onCopy()">copy</button>
        </span>
      </div>
      <br>
      <button type="button" class="btn slam-btn" (click)="this.router.navigate(['viewslamwrites', item.spid])">view slamwrites</button>
    </div>
  </div>
</div>

<div class="text-center slam-footer">
  © 2018 Copyright:
  <a href="http://www.slambook.ml/">
    <strong> slambook.ml</strong>
  </a>
  <a (click)="logout()" class="accent-link">logout</a>
  | <a href="http://www.slambook.ml/privacypolicy.htm">Privacy Policy</a>
  <div>
    PoweredBy
    <a href="https://www.youtube.com/channel/UCuft1InkD50d1cZJsP4QS-w/videos">
      <strong> evenstronger </strong>
    </a>
  </div>
  <div>
    <span style="color:white">Like .</span>
    <a target="_blank" href="https://www.facebook.com/iamevenstronger/">
      <i class="fa fa-facebook-f" style="padding:  10px;color: #007eff;font-size:  15pt;cursor: pointer;"> Facebook</i>
    </a>
    | &nbsp;
    <span style="color:white">Follow .</span>
    <a target="_blank" href="https://www.instagram.com/iam_evenstronger/">
      <i class="fa fa-instagram" style="padding:  10px;color: #cc00ff;font-size:  15pt;cursor: pointer;"> Instagram</i>
    </a>
    | &nbsp;
    <span style="color:white">Subscribe .</span>
    <a target="_blank" href="https://www.youtube.com/channel/UCuft1InkD50d1cZJsP4QS-w/videos">
      <i class="fa fa-youtube" style="padding:  10px;color: #e60808;font-size:  15pt;cursor: pointer;"> Youtube</i>
    </a>
  </div>
</div>