<div class="pull-right card-panel">
  <button (click)="this.router.navigate(['addslampage'])" class="btn slam-btn">Add new Slampage</button>
</div>

<div *ngIf="nocontent" class="jumbotron">No Slampage available. Create one!</div>

<div class="card-panel" style="display:inline-block;" *ngFor="let item of slamPages">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{item.slamname}}</h5>
      <p class="card-text" [innerHTML]="item.slamdescription"></p>
      <p>Long press to copy link. Send link to your friends.</p>
      <p class="card-text">
        <a href="{{item.link}}" class="accent-link">{{item.link}}</a>
      </p>
      <button pButton type="button" class="btn slam-btn" (click)="listSlamWrites(item.spid)">view slamwrites</button>
    </div>
  </div>
</div>

<p-sidebar [(visible)]="visibleSidebar" [fullScreen]="true" [baseZIndex]="10000">
  <p-dialog header="Slamwrite" [(visible)]="slamwritedisplay">
    <ol>
      <li *ngFor="let item of singleField">
        <div *ngIf="item.key != 'link dedicated to me'">
          {{item.key}} => {{item.value}}
        </div>
        <div *ngIf="item.key == 'link dedicated to me'">
          {{item.key}} =>
          <a href="{{item.value}}" class="accent-link">{{item.value}}</a>
        </div>
      </li>
    </ol>
  </p-dialog>
  <h1 style="font-weight:normal">SlamWrites From your Folks!</h1>
  <p-dataTable [value]="fields" [loading]="loading">
    <p-column field="username" header="created by"></p-column>
    <p-column field="content.nickname" header="nickname"></p-column>
    <p-column header="action">
      <ng-template let-content="rowData" pTemplate="body">
        <button type="button" (click)="viewFullContent(content)" class="btn slam-btn">view</button>
      </ng-template>
    </p-column>
  </p-dataTable>
</p-sidebar>

<div class="text-center">
  © 2018 Copyright:
  <a href="http://www.slambook.ml/">
    <strong> slambook.ml</strong>
  </a>
  <a class="accent-link" (click)="logout()">logout</a>
</div>